---
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Section from '../components/Section.astro';
import Github from '../icons/Github.astro';
import Gmail from '../icons/Gmail.astro';
import Linkedin from '../icons/Linkedin.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio de Verónica García - Frontend Developer y UI/UX Designer" description="Frontend Developer con experiencia en la creación de experiencias web atractivas y funcionales. Mi objetivo es combinar diseño creativo con desarrollo técnico para crear sitios web hermosos y fáciles de usar.">
	<main id="top" class="p-6">
		<section class="w-full md:min-h-screen md:w-[740px] lg:w-[800px] mx-auto py-24">
			<h1 class="text-accent-light dark:text-accent-dark transition-colors duration-300 text-lg md:text-xl lg:text-3xl text-center  font-semibold ">Frontend & UI/UX</h1>
			<h2 class="text-primary-light dark:text-primary-dark transition-colors duration-300 text-base md:text-lg lg:text-xl mt-8 md:mt-12 text-justify md:text-center text-pretty">¡Hola! Soy Vero García, <span class="text-text-light dark:text-text-dark">desarrolladora frontend y diseñadora UI/UX</span> de Argentina. Me especializo en crear experiencias web atractivas y funcionales, combinando creatividad y técnica. Me apasiona el aprendizaje constante y siempre busco soluciones que generen un impacto positivo en la experiencia del usuario. ¡Bienvenido a mi portfolio, donde encontrarás una selección de mi trabajo y experiencia!</h2>
			<ul class="flex justify-evenly mt-8 md:mt-20">
				<li class="mr-2">
					<a class='flex flex-col items-center justify-center no-underline mx-auto hover:text-accent-light dark:hover:text-accent-dark transition-colors duration-300 cursor-pointer text-base md:text-lg' href="https://www.linkedin.com/in/veronicaagarcia/" target="_blank" rel="noopener noreferrer">
						<Linkedin class="size-7 md:size-14 hover:text-accent-light dark:hover:text-accent-dark transition-colors duration-300 scale-100 hover:scale-110"/>
						Linkedin
					</a>
				</li>
				<li class="mr-2">
					<a class='flex flex-col items-center justify-center no-underline mx-auto hover:text-accent-light dark:hover:text-accent-dark transition-colors duration-300 cursor-pointer text-base md:text-lg' href="https://github.com/veronicaagarcia" target="_blank" rel="noopener noreferrer">
						<Github class="size-7 md:size-14 hover:text-accent-light dark:hover:text-accent-dark transition-colors duration-300 scale-100 hover:scale-110"/>
						Github
					</a>
				</li>
				<li class="mr-2">
					<a class='flex flex-col items-center justify-center no-underline mx-auto hover:text-accent-light dark:hover:text-accent-dark transition-colors duration-300 cursor-pointer text-base md:text-lg' href="mailto:veroagarcia90@gmail.com" target="_blank" rel="noopener noreferrer" title="veroagarcia90@gmail.com">
						<Gmail class="size-7 md:size-14 hover:text-accent-light dark:hover:text-accent-dark transition-colors duration-300 scale-100 hover:scale-110"/>
						Gmail
					</a>
				</li>
			</ul>
		</section>

		<Section id="experiencia" sectionName="Experiencia Laboral">
			<Experience />
		</Section>

		<Section id="proyectos" sectionName="Proyectos">
			<Projects />
		</Section>

		<Section id="conoceme" sectionName="Sobre mí">
			<About />
		</Section>

		<Section id="contacto" sectionName="Contacto">
			<Contact />
		</Section>
	</main>
	<script>
		document.querySelectorAll('#scrollToTop').forEach(function(button) {
            button.addEventListener('click', function() {
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth'
                });
            });
        });
	</script>
</Layout>

