<div class="flex flex-col items-center md:flex-row md:justify-between pb-10">
    <img class="h-auto max-w-48 transition-all duration-300 rounded-lg cursor-pointer filter grayscale hover:grayscale-0 mb-6 md:mb-0" src="/veronica2.JPG" alt="Vero image">

    <div class="mb-1 md:pl-16 font-extralight text-justify text-base md:text-lg text-white/80">
        <p>Soy Verónica Andrea García, una <strong class="text-text">Frontend Developer con dos años</strong> en la creación de experiencias web atractivas y funcionales. Mi formación académica incluye una Licenciatura en Relaciones Públicas y un Profesorado Universitario, pero mi verdadera vocación la encontré <strong class="text-text">en la programación y el diseño</strong>.</p>
            
        <p>Tengo una inclinación natural hacia el diseño UX/UI, y actualmente estoy profundizando mis conocimientos en este campo para poder ofrecer soluciones más completas y estéticamente agradables. Mi objetivo es combinar mis habilidades técnicas con mi sentido del diseño para crear sitios web que no solo funcionen bien, sino que también sean visualmente atractivos y fáciles de usar.</p>

        <p>Estoy <strong class="text-text">siempre abierta a nuevos desafíos y oportunidades</strong> que me permitan aportar mi creatividad y conocimientos.</p>
    </div>
</div>

