---
import ExperienceItem from './ExperienceItem.astro';
import { experienceData } from '../data/experience';
import type { ExperienceItem as ExperienceItemType } from '../types/index';
---

<ol class="relative border-s border-secondary-light dark:border-x-secondary-dark">
  {
    experienceData.map((item: ExperienceItemType) => (
      <li class="ml-12 mb-10 ms-6">
        <ExperienceItem {...item} />
      </li>
    ))
  }
</ol>
