<header class="flex flex-col justify-between items-center md:flex-row md:justify-around sticky top-0 bg-background-light/80 dark:bg-background-dark/80 backdrop-blur-sm z-10 transition-all duration-300">
    <figure id="about-img" class="overflow-hidden bg-accent-light/80 dark:bg-accent-dark/80 rounded-lg shadow-xl shadow-secondary-light dark:shadow-secondary-dark  rounded-b-2xl md:rounded-b-full transform transition-transform duration-500 size-14 md:size-24 lg:size-28">
        <img id="main-img" src="/veronica2.JPG" class="w-full h-full object-cover cursor-pointer transition-transform duration-500" alt="Veronica photo"/>
    </figure>
    <button id="menu-button" class="block md:hidden text-secondary focus:outline-none mt-4 md:mt-0">
        <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
    </button>
    <nav id="nav-menu" class="hidden flex-col md:flex md:flex-row mt-2 md:mt-0 space-y-4 md:space-y-0 md:space-x-6 items-center">
        <a class="no-underline text-text-light dark:text-text-dark text-base md:text-xl lg:text-2xl hover:text-accent-light dark:hover:text-accent-dark transition-colors duration-300" href="#top">Inicio</a>
        <a class="no-underline text-text-light dark:text-text-dark text-base md:text-xl lg:text-2xl hover:text-accent-light dark:hover:text-accent-dark transition-colors duration-300" href="#experiencia">Experiencia</a>
        <a class="no-underline text-text-light dark:text-text-dark text-base md:text-xl lg:text-2xl hover:text-accent-light dark:hover:text-accent-dark transition-colors duration-300" href="#proyectos">Proyectos</a>
        <a id="about-link" class="no-underline text-text-light dark:text-text-dark text-base md:text-xl lg:text-2xl hover:text-accent-light dark:hover:text-accent-dark transition-colors duration-300" href="#conoceme">Conoceme</a>
        <a class="no-underline text-text-light dark:text-text-dark text-base md:text-xl lg:text-2xl hover:text-accent-light dark:hover:text-accent-dark transition-colors duration-300" href="#contacto">Contacto</a>
    </nav>
</header>

<script>
    const aboutImg = document.getElementById('about-img');
    const mainImg = document.getElementById('main-img') as HTMLImageElement;;
    const aboutLink = document.getElementById('about-link');
    const menuButton = document.getElementById('menu-button');
    const navMenu = document.getElementById('nav-menu');

    aboutImg.addEventListener('mouseover', function() {
        aboutLink.innerText = 'Conoceme';
        aboutLink.classList.remove('no-underline');
        aboutLink.classList.add('underline');
        mainImg.classList.add('rotate-180');
    });

    aboutImg.addEventListener('mouseout', function() {
        aboutLink.innerText = 'Conoceme';
        aboutLink.classList.remove('underline');
        mainImg.classList.remove('rotate-180');
    });

    aboutImg.addEventListener('click', function() {
        window.location.href = '/#conoceme';
    });

    mainImg.addEventListener('transitionend', function() {
        if (mainImg.classList.contains('rotate-180')) {
            mainImg.src = "/veronica.JPG";
        } else {
            mainImg.src = "/veronica2.JPG";
        }
    });

    menuButton.addEventListener('click', function() {
        navMenu.classList.toggle('hidden');
        navMenu.classList.toggle('flex');
    });
</script>
   
<style>
    .rotate-180 {
        transform: rotateY(180deg);
    }
    @keyframes fadeIn {
      from { opacity: 0; transform: translateY(-20px); }
      to { opacity: 1; transform: translateY(0); }
    }

    nav a {
      animation: fadeIn 0.5s ease-out forwards;
      opacity: 0;
    }
  
    nav a:nth-child(1) { animation-delay: 0.1s; }
    nav a:nth-child(2) { animation-delay: 0.2s; }
    nav a:nth-child(3) { animation-delay: 0.3s; }
    nav a:nth-child(4) { animation-delay: 0.4s; }
    nav a:nth-child(5) { animation-delay: 0.5s; }
</style>


